<div class="colums mt-6 is-centered">
  <div class="column is-one-third">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title is-centered">
          <%= dom_id appointment %>
        </p>
      </header>
      <div class="card-content">
        <p><span class="has-text-weight-bold">First name:</span><%= appointment.first_name %></p>
        <p><span class="has-text-weight-bold">Last name:</span><%= appointment.last_name %></p>
        <p><span class="has-text-weight-bold">Email:</span><%= appointment.email %></p>
        <p><span class="has-text-weight-bold">Street Address:</span><%= appointment.street_address %></p>
        <p><span class="has-text-weight-bold">City:</span><%= appointment.city %></p>
        <p><span class="has-text-weight-bold">Zip code:</span><%= appointment.zip_code %></p>
      </div>
      <div class="card-footer">
        <%= link_to "Show", appointment, class: "card-footer-item" %>
        <%= link_to "Edit", edit_appointment_path(appointment), class: "card-footer-item" %>
        <%= link_to "Destroy", appointment, method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item" %>
      </div>
    </div>
  </div>
</div>
