<!DOCTYPE html>
<html>
  <head>
    <title>LCWExteriors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>

  <body>
    <%= render "shared/header" %>
    <% if notice.present? %>
      <div class="notification is-link is-light">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="notification is-danger is-light">
        <%= alert %>
      </div>
    <% end %>

    <br/>

    <section>
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <br/>

    <%= render "shared/footer" %>
  </body>
</html>
